body {
    /* using ../ pushes directory up one level */
    background-image: url(../images/retroBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 40%;
}

h1 {
    padding-left: 1em;
    font-family: 'ZCOOL KuaiLe', cursive;
}

/*title of game in cart*/
h3 {
    text-decoration: underline;
}


form {
    font-size: 130%;
}

input[type=text] {
    /*creates padding around inside of text box*/
    padding: .4em;
}

/*error messages*/
#validation_summary {
    color: red;
    font-weight: bold;
    font-style: italic;
}

/*general fieldset conditions*/
fieldset {
    border-radius:8px;
}

#displayGame fieldset {
    border-radius:8px;
    max-width: 200px;
    margin-left: 3em;
}

/*games added fieldset title*/
#displayGame > fieldset > legend {
    font-size: 130%;
}

/*games added game description*/
#displayGame > fieldset > p{
    font-size: 100%;
    font-weight:bolder;
    line-height: .6em;
}

/*search box fieldsets*/
form > fieldset >legend {
    color: green;
}

form > fieldset {
    max-width: 300px;
    border:2px solid green;
    background-color: lightgray

}

/*change centering format at phone size*/
@media only screen and (max-width: 500px) {
    body {
        margin-left: 2em;
    }
}